<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.luv2code.springdemoone"/>

    <context:property-placeholder location="classpath:sport.properties"/>

    <!--<bean id="myFortuneService"-->
          <!--class="com.luv2code.springdemoone.fortunes.FileFortuneService">-->
        <!--<constructor-arg value="Today is your lucky day.,-->
        <!--Never give up.,-->
        <!--Beware of the wolf.,-->
        <!--An apple a day keeps the doctor away.,-->
        <!--A bird in hand is better than two in a bush.">-->
        <!--</constructor-arg>-->
    <!--</bean>-->
</beans>